data:
  dataset_config: ../dataset_dependent_configs/cam16/cam_univ1_dt_config.yaml
  artifact_dir: ../dataset_dependent_configs/cam16/out/cam_univ1_lvl2
  data_dims: 1024    # Embeddings dimensions Resnet50:1024, CONCH: 512, UNIv1: 1024, HOPTIMUS: 1536
  num_classes: 2
  use_h5: True
  split: 0 # or fold number for cross-validation

model:
  attention: tsmil            # tell main.py to load LitTSMIL

  # ---- TSMIL architecture ----
  embed_dim: 1024             # MUST match data.data_dims
  hidden_dim: 256
  num_heads: 8
  head_dim: 32    # currently overriden s.t. head_dim = hidden_dim // num_heads
  cluster_num: 64
  T_depth: 1              # number of TransolverBlocks
  mlp_ratio: 4
  dropout: 0.1
  aggregator: mean

  # general
  print_model: True


logging:
  save_predictions: True
  run_name: test_run  # Can be set to auto
  tracking_url: ../mlruns
  high_conf_metrics: False
  wandb: True
  project: CAMELYON16  # Name of the project in wandb i.e. Dataset name
  model_ckpt_dir: ../experiments/tsmil # Path to the directory where the model checkpoints will be saved
  model_version: v0 # Version of the model, according to ./custom_framework/heatmaps/results/model_version.json

seed: 2025   # Seed for everything with the seed_torch function from main.py
phase: train # train, test

training:
  max_epochs: 20
  gpu_index: [0]
  strategy: auto
  precision: '32'
  patience: 20

  optimizer: adamw
  learning_rate: 2.e-4
  reg: 1.e-5
  momentum: 0.9

  scheduler: cosine     # or cosine
  min_delta: 1.e-4
  min_lr: 1.e-7
  warmup_epochs: 6
  warmup_lr: 1.e-5

  lr_logging_interval: epoch
  lr_logging_frequency: 1
  log_weight_decay: True

testing:
  experiment_ckpt_dir: /home/ubuntu/Projects/TransolverMIL/experiments/tsmil_v0/UNIv1_CAM16_lvl2_224_features/0/last.ckpt
